<li>
	{{name}}

	<button class="change-grill" data-id="{{id}}" data-newgrill="{{grill}}">
		{{#if grill}}Grill It!{{else}}Save it for Later!{{/if}}
	</button>

	<button class="delete-food" data-id="{{this.id}}">delete!</button>
</li>
