<li>
	{{name}}

	<button class="change-grill" data-id="{{id}}" data-newgrill="{{grill}}">
		{{#if grill}}Save it for later{{else}}Grill it!{{/if}}
	</button>

	<button class="delete-food" data-id="{{this.id}}">delete!</button>
</li>
